html[theme=light] {
    --bg-color: #FCFDFF;
    --opposite-bg-color: #282c35;
    --text-color: #333;
    --brighter-text-color: #000;
    --opposite-text-color: #DDD;
    --block-bg-color: #FFF;
    --opposite-block-bg-color: #282c35;
    --block-shadow: 10px 15px 40px rgba(83, 91, 110, 0.11);
    --block-border: none;
    --link-color: #333;
    --visited-link-color: #333;
    --link-hover-color: #999; 
    --button-color: #FFF;
    --button-bg-color: #333;
    --button-disabled-bg-color: #DDD;
    --button-border: solid 2px #333;
    --button-hover-color: #333;
    --button-hover-bg-color: #FFF;
    --button-hover-border: solid 2px #333;
    --select-color: #333;
    --select-bg-color: #FFF;
    --input-color: #000;
    --input-bg-color: #fff;
    --input-border-color: #ddd;
    --input-toolbar-bg: #fff;
    --input-toolbar-button-color: #000;
    --input-link: #7f8c8d;
    --input-selection-color: #d7d4f0
}
html[theme=dark] {
    --bg-color: #282c35;
    --opposite-bg-color: #FCFDFF;
    --text-color: #DDD;
    --brighter-text-color: #FFF;
    --opposite-text-color: #333;
    --block-bg-color: #1B1B1C;
    --opposite-block-bg-color: #FFF;
    --block-shadow: 0px 0px 0px #000;
    --block-border: solid 1px #FCFDFF;
    --link-color: #DDD;
    --link-hover-color: #FFF;
    --visited-link-color: #737373;
    --button-color: #333;
    --button-bg-color: #FFF;
    --button-disabled-bg-color: #8A8A8A;
    --button-border: solid 2px #FFF;
    --button-hover-color: #FFF;
    --button-hover-bg-color: #333;
    --button-hover-border: solid 2px #FFF;
    --select-color: #333;
    --select-bg-color: #FFF;
    --input-color: #fff;
    --input-bg-color: #373c48;
    --input-border-color: #333;
    --input-toolbar-bg: #252a35;
    --input-toolbar-button-color: #fff;
    --input-link: #b3b6ff;
    --input-selection-color: #978fd8;
}

html[theme="dark"] .menu-logo .tree-emoji {
    filter: invert(100%);
}

.menu-flex-container {
    display: flex;
    align-items: center;
}


/*ГЛАВНАЯ СТРАНИЦА*/


.download-buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2%;
    margin-top: 3%;
    flex-wrap: nowrap;
}

.download-buttons a {
    text-decoration: none;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    flex: 1 1 auto;
    min-width: 30vw;
    max-width: 30vw;
    padding: 4vh 5vw;
    height: auto;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    box-sizing: border-box;
    min-height: 12vh;
}

.download-buttons a i, 
.download-buttons a span {
    display: inline-block;
}

@media (max-width: 1000px) {
    .download-buttons a {
        min-width: 40vw;
        max-width: 40vw;
    }
}

@media (max-width: 850px) {
    .download-buttons {
        flex-wrap: wrap;
    }

    .download-buttons a {
        min-width: 45%;
        max-width: 45%;
    }
}

@media (max-width: 600px) {
    .download-buttons a {
        min-width: 100%;
        max-width: 100%;
    }
}

.download-buttons a i {
    margin-right: 10px;
}

.download-buttons a:hover {
    transform: scale(1.05);
}

/* Стили для основной кнопки */
.primary-button {
    background-color: #007bff;
    border: 2px solid #0056b3;
}

.primary-button:hover {
    background-color: #0056b3;
}

/* Стили для вспомогательной кнопки */
.secondary-button {
    background-color: #6c757d;
    border: 2px solid #495057;
}

.secondary-button:hover {
    background-color: #495057;
}

.cent {
    text-align: center;
}

@media (max-width: 970px) {
    .download-buttons {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }

    .download-buttons a {
        font-size: 16px;
        padding: 12px 25px;
        min-width: 150px;
    }
}

/**/

.d-button {
    display: inline-block;
    padding: 15px 18px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg-color);
    border: var(--button-border);
    color: var(--button-color);
    text-align: center;
    cursor: pointer;
    line-height: 1em;
    font-weight: 500;
}

.menu-simplified-right .d-button.button-black:hover {
    color: gray;
}


.image-inline {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.image-inline img {
    max-width: calc(50% - 5px);
    height: auto;
}


/**/

.code-block {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.code-block pre {
    margin: 0;
    overflow-x: auto;
    font-family: monospace;
}

.copy-button {
    position: absolute;
    top: 50%;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #0056b3;
}

html[theme=light] .copied {
    animation: flash-light 1s ease-in-out;
    border-radius: 4px;
}

html[theme=dark] .copied {
    animation: flash-dark 1s ease-in-out;
    border-radius: 4px;
}


@keyframes flash-light {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #282c35;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes flash-dark {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #f9f9f9;
    }
    100% {
        background-color: transparent;
    }
}
